/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #ffcb05;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: #3b4cca;
  }
  
  /* Navigation */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #3b4cca;
  }
  
  /* Section Styling */
  .section {
    padding: 20px;
    margin: 20px 0;
  }
  
  #pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .pokemon-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-card img {
    width: 150px;
    height: 150px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #3b4cca;
    color: #fff;
  }
  